@{Layout = "~/_SiteLayout.cshtml";
     Page.Title = "Aanpassen Boek";
     var titel = "";
     var auteur = "";
     var datum = "";
     int waardering = 0 ;
     var taal = "";
     var uitgever = "";
     var genre = "";
     var boekid = "";
     var db = Database.Open("e-Books") ;
                                                           
                                                            
        if(!IsPost)
        {                                         
         if(!Request.QueryString["ID"].IsEmpty())
         {           
            boekid = Request.QueryString["ID"];
            
            var dbCommand = "SELECT * FROM Boeken WHERE ID = @0";
            var row = db.QuerySingle(dbCommand, boekid);
 
              if(row != null) 
              {
            titel = row.Titel;
            auteur= row.Auteur;
            datum = row.Datum;
            waardering  = row.Waardering;
            taal = row.Taal;
            uitgever = row.Uitgever;
            genre = row.Genre;
             
          }
        else {
            Validation.AddFormError("Er is geen boek gevonden met die ID");
        }
    }
        else{
            Validation.AddFormError("Er is geen boek geselecteerd");
      }
    }
      
 
       if(IsPost){
        Validation.RequireField("titel", "U heeft geen titel toegevoegd");
        Validation.RequireField("auteur", "U heeft geen titel toegevoegd");
        Validation.RequireField("datum", "U heeft geen datum toegevoed");
        Validation.RequireField("waardering", "U heeft geen waardering toegevoegd");
        Validation.RequireField("taal", "U heeft geen taal toegevoegd");
        Validation.RequireField("uitgever", "U heeft geen uitgever toegevoegd");
        Validation.RequireField("genre", "U heeft geen genre toegevoegd");
 
        titel = Request.Form["titel"];
        auteur = Request.Form["auteur"];
        datum = Request.Form["datum"];
        waardering = Convert.ToInt32(Request.Form["Waardering"]);
        taal = Request.Form["taal"];
        uitgever = Request.Form["uitgever"];
        genre = Request.Form["genre"];
        boekid = Request.Form["boekid"];
        
      
 
        if(Validation.IsValid())
        {
          
            var updateCommand = "UPDATE boeken SET Titel=@0, Auteur=@1, Datum=@2, Waardering=@3, Taal=@4, Uitgever=@5, Genre=@6 WHERE ID = @7 ";
            db.Execute(updateCommand, titel, auteur, datum, waardering, taal, uitgever, genre, boekid);
            Response.Redirect("~/Default-Page");
 
        }
    }
 }
 
<!DOCTYPE html>
 
<html lang="en">
<head>
        <meta charset= "utf-8" />    
    
</head>
<body>  
        <h2>Boek aanpassen</h2>  
         <h4>Boek Informatie</h4>  
  
  @Html.ValidationSummary()
 
      
       
    <form method="post">
    <fieldset>
 
 
      <p><label for="titel">Titel:</label>
         <input type="text" name="titel" value="@titel" /></p>
 
      <p><label for="auteur">Auteur:</label>
         <input type="text" name="auteur" value="@auteur" /></p>
 
      <p><label for="datum">Datum:</label>
         <input type="text" name="datum" value="@datum" /></p>
 
      <p><label for="waardering">Waardering:</label>
         <input type="text" name="waardering" value="@waardering" /></p>
 
      <p><label for="taal">Taal:</label>
         <input type="text" name="taal" value="@taal" /></p>
 
      <p><label for="uitgever">Uitgever:</label>
         <input type="text" name="uitgever" value="@uitgever" /></p>
 
      <p><label for="genre">Genre:</label>
         <input type="text" name="genre" value="@genre" /></p>
 
 
      <input type="hidden" name="boekid" value="@boekid" />
 
 
      <p><input type="submit" name="buttonSubmit" value="Aanpassingen toepassen" /></p>
   
 
    <p><a href="~/Default-Page">Return</a></p>
        
    </fieldset>
    </form>
    </body>
</html>



