@{
    if (!WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/LoginPage?returnUrl="
            + Request.Url.LocalPath);
    }
    Layout = "~/_SiteLayout.cshtml";

    var content = Request["content"];
    string contentQuery = "";
    bool hasTitleContent = false;
    bool hasAuthorContent = false;
    bool hasGenreContent = false;
    bool hasRatingContent = false;
    bool hasLangContent = false;

    switch (content)
    {
        default:
            contentQuery = "";
            hasTitleContent = true;
            break;
        case "title":
            hasTitleContent = true;
            contentQuery = "Titel";
            break;
        case "author":
            hasAuthorContent = true;
            contentQuery = "Auteur";
            break;
        case "genre":
            hasGenreContent = true;
            contentQuery = "Genre";
            break;
        case "rating":
            hasRatingContent = true;
            contentQuery = "Waardering";
            break;
        case "lang":
            hasLangContent = true;
            contentQuery = "Taal";
            break;
    }

    var db = Database.Open("e-Books");
    var query = "SELECT * FROM boeken";
    var queryResult = db.Query(query);
    if (contentQuery != "")
    {
        query = "SELECT * FROM boeken  WHERE " + contentQuery + " LIKE @0";
        var filter = "%" + Request["filter"] + "%";
        queryResult = db.Query(query, filter);
    }

    var columns = new[] { "Titel", "Auteur", "Datum", "Waardering", "Taal", "Uitgever", "Genre" };
    var grid = new WebGrid(queryResult, columnNames: columns, canPage: false, canSort: true);

}

@section script{
    <script>
        
        // 
        $(function () {
            $('tbody tr').on('click', function () {
                var id = $(this).find('td:first').text();
                @*var path = @;*@
                var data = @File.ReadAllBytes(Server.MapPath("~/uploads/17.pdf"));
                var blob = new Blob([data], { type: 'application/pdf' });
                var filename = "17.pdf";
                if (window.navigator.msSaveOrOpenBlob) {
                    window.navigator.msSaveBlob(blob, filename);
                }
                else {
                    var elem = window.document.createElement('a');
                    elem.href = window.URL.createObjectURL(blob);
                    elem.download = filename;
                    document.body.appendChild(elem);
                    elem.click();
                    document.body.removeChild(elem);
                }
            });
        });
    </script>
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-md-offset-2">
            <h1>De E-Book Collectie</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-2">
            <div class="panel" style="padding: 5px;">
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" name="filter" class="form-control input-lg search-special" placeholder="Zoekterm..." value="@Request["filter"]" tabindex="1" />
                            <span class="input-group-btn">
                                <button class="btn btn-special btn-lg" type="submit">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </span>
                        </div>
                        <div class="input-group div-centered">
                            <div class="radio container radio-special">
                                <input type="radio" name="content" id="radio-title" value="title" @Html.Raw(hasTitleContent ? "checked" : "") />
                                <label for="radio-title"><span class="radio">Titel</span></label>
                            </div>
                            <div class="radio container radio-special">
                                <input type="radio" name="content" id="radio-author" value="author" @Html.Raw(hasAuthorContent ? "checked" : "") />
                                <label for="radio-author"><span class="radio">Auteur</span></label>
                            </div>
                            <div class="radio container radio-special">
                                <input type="radio" name="content" id="radio-genre" value="genre" @Html.Raw(hasGenreContent ? "checked" : "") />
                                <label for="radio-genre"><span class="radio">Genre</span></label>
                            </div>
                            <div class="radio container radio-special">
                                <input type="radio" name="content" id="radio-rating" value="rating" @Html.Raw(hasRatingContent ? "checked" : "") />
                                <label for="radio-rating"><span class="radio">Waardering</span></label>
                            </div>
                            <div class="radio container radio-special">
                                <input type="radio" name="content" id="radio-lang" value="lang" @Html.Raw(hasLangContent ? "checked" : "") />
                                <label for="radio-lang"><span class="radio">Taal</span></label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- Middelste table-->
        <div class="col-xs-12 col-md-8">
            <div id="grid" class="table-special">
                @grid.GetHtml(
                                     tableStyle: "table",
                                     headerStyle: "head",
                                     alternatingRowStyle: "alt",
                                      columns: grid.Columns(

                grid.Column(format:
                @<a href="Download.cshtml?id=@item.ID&name=@HttpUtility.UrlEncode(item.Titel)">
                        <img alt="ImageName" src="~/Images/logo.gif" height="35" width="35">
                    </a>
                ),


                grid.Column("Titel"),
                grid.Column("Auteur"),
                grid.Column("Datum"),
                grid.Column("Waardering"),
                grid.Column("Taal"),
                grid.Column("Uitgever"),
                grid.Column("Genre")
                )
                 )
            </div>
        </div>
        <div class="hidden-xs hidden-sm col-md-2">
            <form class="panel">
                <div style="text-align: center">
                    <img src="~/Images/child-reading-book_icon-icons.com_49293.png" height="60" width="60" alt="Book icon" class="img-rounded">
                </div>
                <br />
                <div style="width: 80%;display: block;margin: 0 auto;">
                    <div style="display:inline-block;width: calc(50% - 2px)">
                        <p class="alignright">Titel:</p>
                        <div style="clear: both;"></div>
                        <p class="alignright">Auteur:</p>
                        <div style="clear: both;"></div>
                        <p class="alignright">Taal:</p>
                        <div style="clear: both;"></div>
                        <p class="alignright">Waardering:</p>
                        <div style="clear: both;"></div>
                        <p class="alignright">Genre:</p>
                        <div style="clear: both;"></div>
                    </div>
                    <div style="display:inline-block;width: calc(50% - 2px)">
                        <p class="alignleft">.......</p>
                        <div style="clear: both;"></div>
                        <p class="alignleft">.......</p>
                        <div style="clear: both;"></div>
                        <p class="alignleft">.......</p>
                        <div style="clear: both;"></div>
                        <p class="alignleft">.......</p>
                        <div style="clear: both;"></div>
                        <p class="alignleft">.......</p>
                        <div style="clear: both;"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<br />
<br />
<br />