@{
    Page.Title = "Log in";
    // Initialize general page variables
    var email = "";
    var password = "";
    var rememberMe = false;
    var returnUrl = Request.QueryString["ReturnUrl"];
    if (returnUrl.IsEmpty())
    {
        // Some external login providers always require a return URL value
        returnUrl = Href("~/Default-Page");
    }
    // Setup validation
    Validation.RequireField("email", "Voer een e-mail in.");
    Validation.RequireField("password", "Voer een wachtwoord in.");
    //Validation.Add("password",
    //    Validator.StringLength(
    //        maxLength: Int32.MaxValue,
    //        minLength: 6,
    //        errorMessage: "Wachtwoord moet 6 characters of langer zijn"));
    // If this is a POST request, validate and process data
    if (IsPost)
    {
        AntiForgery.Validate();
        // is this an external login request?
        string provider = Request.Form["provider"];
        if (!provider.IsEmpty())
        {
            OAuthWebSecurity.RequestAuthentication(provider, Href("~/Account/RegisterService", new { returnUrl }));
            return;
        }
        else if (Validation.IsValid())
        {
            email = Request.Form["email"];
            password = Request.Form["password"];
            rememberMe = Request.Form["rememberMe"].AsBool();
            if (WebSecurity.UserExists(email) && WebSecurity.GetPasswordFailuresSinceLastSuccess(email) > 4 && WebSecurity.GetLastPasswordFailureDate(email).AddSeconds(60) > DateTime.UtcNow)
            {
                Response.Redirect("~/Account/AccountLockedOut");
                return;
            }
            // Attempt to log in using provided credentials
            if (WebSecurity.Login(email, password, rememberMe))
            {
                Context.RedirectLocal(returnUrl);
                return;
            }
            else
            {
                ModelState.AddFormError("Wachtwoord of e-mail is onjuist.");
            }
        }
    }
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="~/css/Logo.css" rel="stylesheet" type="text/css" />
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/css/main.css" />
        <link rel="stylesheet" href="~/css/Logo.css" />
        <style>
            input[type=checkbox] {
                visibility: hidden;
            }
             .checkboxFive {
                margin-top:  5px;
                position: relative;
                display: inline-block;
                width: 25px;
            }
            .checkboxFive label {
                cursor: pointer;
                position: absolute;
                width: 25px;
                height: 25px;
                top: 0;
                left: 0;
                background: #eee;
                border:1px solid #ddd;
            }
            .checkboxFive label:after {
                opacity: 0.2;
                content: '';
                position: absolute;
                width: 9px;
                height: 5px;
                background: transparent;
                top: 8px;
                left: 7px;
                border: 2px solid #333;
                border-top: none;
                border-right: none;
            
                transform: rotate(-45deg);
            }
            .checkboxFive label:hover::after {
                opacity: 0.5;
            }
            
            .checkboxFive input[type=checkbox]:checked + label:after {
                opacity: 1;
            }
            
            .remember-me label {
                display:  inline!important;
                margin:  0!important;
                float:  none!important;
            }
            .remember-me label:hover{
                cursor: pointer;
            }
        </style>
        <!-- Optional theme -->
        <!-- Latest compiled and minified JavaScript -->
        <!--Responsive Mobiel-->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta charset="utf-8" />
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-xs-offset-0 col-md-6 col-md-offset-3">
                    <h1 class="title" data-shadow="E-Books Online">Login</h1>
                    <div class="panel text-center">
                        <a href="Index"><img alt="logo" src="Images/logo.png" height="150" width="150" style="margin-top: 40px;" /></a>
                        <form method="post" class="form-style-7" id="loginForm">
                            @AntiForgery.GetHtml()
                            @Html.ValidationSummary()
                            <ul style="width: 60%; margin: 0 auto;">
                                <li class="email">
                                    <label for="email" @if (!ModelState.IsValidField("email")) { <text> class="error-label" </text>    }>E-Mail</label>
                                    <input type="text" id="email" name="email" value="@email" @Validation.For("email") />
                                </li>
                                <li class="password">
                                    <label for="password" @if (!ModelState.IsValidField("password")) { <text> class="error-label" </text>    }>Wachtwoord</label>
                                    <input type="password" id="password" name="password" @Validation.For("password") />
                                </li>
                                <li class="remember-me" style="border: none;">
                                    
                                    <div class="checkboxFive">
                                        <input type="checkbox" id="rememberMe" name="rememberMe" value="true" checked="@rememberMe" />
                                        <label for="rememberMe"></label>
                                    </div>
                                    <label for="rememberMe">Onthoud mij</label>
                                </li>
                                <li style="border: none;">
                                    <input type="submit" value="Log in" />
                                </li>
                            </ul>
                        </form>
                    </div>
                    <p>
                    <a href="Index">Terug</a></p>
                </div>
            </div>
        </div>
        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script>
            $(document).ready(function () {
                $('.validation-summary-errors ul').attr("style", "list-style:none;");
                $('.validation-summary-errors li').addClass("isa_warning");
                $('.validation-summary-errors').removeClass().attr("style", "max-width:500px;margin: 0 auto;");
            });
        </script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    </body>
</html>
