@{
    if (!WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/LoginPage?returnUrl="
            + Request.Url.LocalPath);
    }
    Layout = "~/_SiteLayout.cshtml";

    Validation.RequireField("Titel", "Wat is de titel van het boek?");
    Validation.RequireField("Auteur", "Wie is de auteur?");
    Validation.RequireField("Datum", "Wanneer is het boek uitgegeven?");
    Validation.RequireField("Waardering", "Waardering van het boek is?");
    Validation.RequireField("Taal", "Welk taal is het boek?");
    Validation.RequireField("Uitgever", "Wie is de uitgever?");
    Validation.RequireField("Genre", "Welk genre is het boek?");
    //Validation.RequireField("Foto", "Voeg een foto van de cover toe");
    //Validation.RequireField("Bestand", "Upload het bestandstype .PDF");

    string titel = "Titel";
    string auteur = "Auteur";
    string datum = "Datum";
    int waard = 0;
    string taal = "Taal";
    string uitgever = "Uitgever";
    string genre = "Genre";
    HttpPostedFileBase foto;
    HttpPostedFileBase bestand;

    if (IsPost)
    {
        if (Validation.IsValid())
        {
            titel = Request["Titel"];
            auteur = Request["Auteur"];
            datum = Request["Datum"];
            waard = Convert.ToInt32(Request.Form["Waardering"]);
            taal = Request["Taal"];
            uitgever = Request["Uitgever"];
            genre = Request["Genre"];
            foto = Request.Files[0];
            bestand = Request.Files[1];

            var db = Database.Open("e-Books");
            var insertCommand =
                "INSERT INTO boeken (Titel, Auteur, Datum, Waardering, Taal, Uitgever, Genre) Values(@0, @1, @2, @3, @4, @5, @6)";
            db.Execute(insertCommand, titel, auteur, datum, waard, taal, uitgever, genre);

            var lastInsertId = db.GetLastInsertId();
            var servPath = Server.MapPath("~/uploads/");
            var coverPath = servPath + "cover-" + lastInsertId + Path.GetExtension(foto.FileName);         
            var filePath = servPath + lastInsertId + Path.GetExtension(bestand.FileName);
            foto.SaveAs(coverPath);
            bestand.SaveAs(filePath);


            Response.Redirect("~/Default-Page.cshtml");
        }
    }

}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-5 col-lg-offset-3">
            <div class="text-center">

                <!--Toevoegen boek-->
                <h2>Toevoegen van boeken</h2>
                @Html.ValidationSummary()
                <form id="upload" method="post" enctype="multipart/form-data">
                    <fieldset>
                        <h3>Voeg een boek toe</h3>
                        <br />
                        <!-- Lijst met Toevoegende-->
                        <p>
                            <label for="titel">Titel:</label>
                            <input type="text" name="titel" value="@Request.Form["titel"]" />
                            @Html.ValidationMessage("titel")
                        </p>
                        <p>
                            <label for="auteur">Auteur:</label>
                            <input type="text" name="Auteur" value="@Request.Form["Auteur"]" />
                            @Html.ValidationMessage("Auteur")
                        </p>
                        <p>
                            <label for="datum">Datum:</label>
                            <input type="date" name="Datum" value="@Request.Form["Datum"]" />
                            @Html.ValidationMessage("Datum")
                        </p>
                        <p>
                            <label for="waardering">waardering:</label>
                            <input type="number" name="Waardering" maxlength="5" value="@Request.Form["Waardering"]" />
                            @Html.ValidationMessage("Waardering")
                        </p>
                        <p>
                            <label for="Taal">Taal:</label>
                            <input type="text" name="Taal" value="@Request.Form["Taal"]" />
                            @Html.ValidationMessage("Taal")
                        </p>
                        <p>
                            <label for="Uitgever">Uitgever:</label>
                            <input type="text" name="Uitgever" value="@Request.Form["Uitgever"]" />
                            @Html.ValidationMessage("Uitgever")
                        </p>
                        <p>
                            <label for="Genre">Genre:</label>
                            <input type="text" name="Genre" value="@Request.Form["Genre"]" />
                            @Html.ValidationMessage("Genre")
                        </p>
                        <p>
                            <label for="Foto">Foto:</label>
                            <input type="file" name="Foto" value="@Request.Form["Foto"]" accept="image/*" />

                        </p>

                        <p>
                            <label for="Bestand">Bestand:</label>
                            <input type="file" name="Bestand" value="@Request.Form["Bestand"]" accept="application/pdf" />
                        </p>
                        <br /><br />
                        <p><input type="submit" name="buttonSubmit" value="Voeg Boek toe" /></p>
                    </fieldset>
                </form>

            </div>
        </div>
    </div>
</div>
