@{

    Layout = "~/_SiteLayout.cshtml";

    Validation.RequireField("Titel", "Je moet een titel van het boek toevoegen");
    Validation.RequireField("Auteur", "Voeg een auteur toe");
    Validation.RequireField("Datum", "Voeg een jaar van uitgeven aan");
    Validation.RequireField("Waardering", "Waardering van het boek is?");
    Validation.RequireField("Taal", "Welk taal is het boek");
    Validation.RequireField("Uitgever", "Uitgever is?");
    Validation.RequireField("Genre", "Welk genre is het boek");
    //Validation.RequireField("Foto", "voeg een foto van de cover toe");
    //Validation.RequireField("Bestand", "Upload het bestandstype .PDF");

    string titel = "Titel";
    string auteur = "Auteur";
    string datum = "Datum";
    int waard = 0;
    string taal = "Taal";
    string uitgever = "Uitgever";
    string genre = "Genre";
    //var foto = default;
    //var bestand = default;



    if (IsPost)
    {
        if (Validation.IsValid())
        {
            titel = Request.Form["Titel"];
            auteur = Request.Form["Auteur"];
            datum = Request.Form["Datum"];
            waard = Convert.ToInt32(Request.Form["Waardering"]);
            taal = Request.Form["Taal"];
            uitgever = Request.Form["Uitgever"];
            genre = Request.Form["Genre"];
            //foto = Request.Form["Foto"];
            //bestand = Request.Form["Bestand"];

            var db = Database.Open("e-Books");
            var insertCommand =
                "INSERT INTO boeken (Titel, Auteur, Datum, Waardering, Taal, Uitgever, Genre) Values(@0, @1, @2, @3, @4, @5, @6)";
            db.Execute(insertCommand, titel, auteur, datum, waard, taal, uitgever, genre);
            Response.Redirect("~/Default-Page.cshtml");
        }
    }

}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-offset-4">

                <!--Toevoegen boek-->
                <h2>Toevoegen van boeken</h2>
                @Html.ValidationSummary()
                <form method="post">
                    <fieldset>
                        <legend>Voeg een boek toe</legend>
                        <!-- Lijst met Toevoegende-->
                        <p>
                            <label for="titel">Titel:</label>
                            <input type="text" name="titel" value="@Request.Form["titel"]" />
                            @Html.ValidationMessage("titel")
                        </p>
                        <p>
                            <label for="auteur">Auteur:</label>
                            <input type="text" name="Auteur" value="@Request.Form["Auteur"]" />
                            @Html.ValidationMessage("Auteur")
                        </p>
                        <p>
                            <label for="datum">Datum:</label>
                            <input type="date" name="Datum" value="@Request.Form["Datum"]" />
                            @Html.ValidationMessage("Datum")
                        </p>
                        <p>
                            <label for="waardering">waardering:</label>
                            <input type="number" name="Waardering" maxlength="5" value="@Request.Form["Waardering"]" />
                            @Html.ValidationMessage("Waardering")
                        </p>
                        <p>
                            <label for="Taal">Taal:</label>
                            <input type="text" name="Taal" value="@Request.Form["Taal"]" />
                            @Html.ValidationMessage("Taal")
                        </p>
                        <p>
                            <label for="Uitgever">Uitgever:</label>
                            <input type="text" name="Uitgever" value="@Request.Form["Uitgever"]" />
                            @Html.ValidationMessage("Uitgever")
                        </p>
                        <p>
                            <label for="Genre">Genre:</label>
                            <input type="text" name="Genre" value="@Request.Form["Genre"]" />
                            @Html.ValidationMessage("Genre")
                        </p>
                                        @*<p>
                            <label for="Foto">Foto:</label>
                            <input type="file" name="Foto" value="@Request.Form["Foto"]" />
                            @Html.ValidationMessage("Foto")
                        </p>
                        
                        <p>
                            <label for="Bestand">Bestand:</label>
                            <input type="file" name="Bestand" value="@Request.Form["Bestand"]" />
                            @Html.ValidationMessage("Bestand")
                        </p>*@
                        <p><input type="submit" name="buttonSubmit" value="Voeg Boek toe" /></p>
                    </fieldset>
                </form>

            </div>
        </div>
    </div>
</div>
