@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Delete a Movie";
    var titel = "";
    var auteur = "";
    var datum = "";
    int waardering = 0;
    var taal = "";
    var uitgever = "";
    var genre = "";
    var boekid = "";

    if (!IsPost)
    {
        if (!Request.QueryString["ID"].IsEmpty() && Request.QueryString["ID"].IsInt())
        {
            boekid = Request.QueryString["ID"];
            var db = Database.Open("e-Books");
            var dbCommand = "SELECT * FROM Boeken WHERE ID = @0";
            var row = db.QuerySingle(dbCommand, boekid);
            if (row != null)
            {
                titel = row.Titel;
                auteur = row.Auteur;
                datum = row.Datum;
                waardering = row.Waardering;
                taal = row.Taal;
                uitgever = row.Uitgever;
                genre = row.Genre;
            }
            else
            {
                Validation.AddFormError("Er is geen boek gevonden met die ID");
            }
        }
        else
        {
            Validation.AddFormError("Er is geen boek geselecteerd");
        }
    }
    if (IsPost && !Request["buttonDelete"].IsEmpty())
    {
        boekid = Request.Form["boekid"];
        var db = Database.Open("e-Books");
        var deleteCommand = "DELETE FROM Boeken WHERE ID = @0";
        db.Execute(deleteCommand, boekid);
        Response.Redirect("~/Default-Page");
    }
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-5 col-lg-offset-3">
            <div class="text-center">
                <h2>Verwijder een boek</h2>
                @Html.ValidationSummary()


                <form method="post">
                    <fieldset>
                        <h3>Boek Informatie</h3>
                        <br />

                        <p>
                            <label for="titel">Titel:</label>
                            <input type="text" name="titel" value="@titel" />
                        </p>

                        <p>
                            <label for="auteur">Auteur:</label>
                            <input type="text" name="auteur" value="@auteur" />
                        </p>

                        <p>
                            <label for="datum">Datum:</label>
                            <input type="text" name="datum" value="@datum" />
                        </p>

                        <p>
                            <label for="waardering">Waardering:</label>
                            <input type="text" name="waardering" value="@waardering" />
                        </p>

                        <p>
                            <label for="taal">Taal:</label>
                            <input type="text" name="taal" value="@taal" />
                        </p>

                        <p>
                            <label for="uitgever">Uitgever:</label>
                            <input type="text" name="uitgever" value="@uitgever" />
                        </p>

                        <p>
                            <label for="genre">Genre:</label>
                            <input type="text" name="genre" value="@genre" />
                        </p>


                        <input type="hidden" name="boekid" value="@boekid" />
                        <br /><br />
                        <p><input type="submit" name="buttonDelete" value="Verwijder boek" /></p>
                    </fieldset>
                    <p><a href="~/Default-Page">Return </a></p>
                </form>
            </div>
        </div>
    </div>
</div>
